<head>
    <title>The Endgame</title>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.1/css/materialize.min.css">
    <link rel="stylesheet" href="mission.css" />
    <link rel="stylesheet" href="endgame.css" />
    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC" rel="stylesheet">
</head>

<h1 id="mission">the CONTACT</h1>
<div class="line">
    <ul class="menu">
        <li><a href="index.html">HOME</a></li>
        <li><a href="mission.html">MISSION</a></li>
        <li><a href="info.html">INFO</a></li>
        <li><a href="contact.html">CONTACT</a></li>
    </ul>
</div>

<body>
    <div class="container" id="contact">
        <div class="card" id="matthew">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="picture/alex-holyoake-361916.jpg">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4" alt="Info">Matthew Johnson<i class="material-icons right">more_vert</i></span>
                <p><a href="#">Former Insurance Broker</a></p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4" alt="Info">CEO of Endgame<i class="material-icons right">close</i></span>
                <p>(818) 345 6659</p>
                <p>matthewJohnson@gmail.com</p>
                <p>Graduated with a bachelors in Finance, Matthew jumped started his career and created Endgame. He felt people needed professional business advicing at a low cost. Thus, Endgame was created.</p>
            </div>
        </div>

        <div class="card" id="joseph">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="picture/atikh-bana-123140.jpg">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Joseph Perry<i class="material-icons right">more_vert</i></span>
                <p><a href="#">Accountant</a></p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">COO of Endgame<i class="material-icons right">close</i></span>
                <p>(818) 458 9009</p>
                <p>josephPerry23@gmail.com</p>
                <p>With a Masters in Accountanting, Joseph jumped in head first alongside Matthew in the ventures of Endgame.</p>
            </div>
        </div>
    </div>

</body>




<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.1/js/materialize.min.js"></script>