/*
   HEADER
*/

#title {
    font-size: 95px;
    text-align: center;
    font-family: 'Alegreya Sans SC', sans-serif;
    margin: 0;
    padding-top: 20px;
    word-spacing: 10px;
}

#slogan {
    font-size: 20px;
    text-align: center;
    font-family: 'Alegreya Sans SC', sans-serif;
    padding: 0 0 20px;
}

.slider {
    display: block;
    margin: 0 75px 0;
    max-width: 100%;
    height: 300px;
}

h3,
h5 {
    color: #43a047;
}

.slider .indicators .indicator-item {
    margin: 0 20px -90px 0;
}


/*
    NAVIGATION
*/

.line {
    text-align: center;
}

ul {
    list-style-type: none;
    margin-right: 0;
    padding: 0 0 30px;
}

li {
    display: inline;
}

li > a {
    padding: 0 95px 0;
    font-size: 20px;
    font-family: 'Alegreya Sans SC', sans-serif;
    text-align: center;
    color: black;
    text-decoration: none;
    position: relative;
}

li > a {
    color: black;
}

li > a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

li > a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}


/*
    GRID SETUP
*/

.grid-container {
    width: 100%;
    max-width: 1200px;
}

.photo {
    width: 590px;
    height: 366px;
    padding: 20px 0 0;
    margin-left: 30px;
}

figcaption {
    text-align: center;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 15px;
}


/* 
    FOOTER 
*/

.footer-p {
    color: white;
    text-align: center;
    font-size: 20px;
    font-family: 'Alegreya Sans SC', sans-serif;
}


/* label focus color */

.input-field input:focus + label {
    color: white!important;
}


/* label underline focus color */

.row .input-field input:focus {
    border-bottom: 1px solid white !important;
    box-shadow: 0 1px 0 0 white !important;
}

#email:focus {
    color: white;
}


/* 

Info Section

*/

#table {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}