<head>
    <title>The Endgame</title>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.1/css/materialize.min.css">
    <link rel="stylesheet" href="endgame.css" />
    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC" rel="stylesheet">
</head>
<header>
    <p id="title">THE ENDGAME</p>
    <p id="slogan">LIFE BELONGS TO THE LIVING, AND HE WHO LIVES MUST BE PREPARED FOR CHANGES</p>
</header>
<div class="line">
    <ul class="menu">
        <li><a href="index.html">HOME</a></li>
        <li><a href="mission.html">MISSION</a></li>
        <li><a href="info.html">INFO</a></li>
        <li><a href="contact.html">CONTACT</a></li>
    </ul>
</div>
<div class="grid-container">
    <div class="slider">
        <ul class="slides">
            <li>
                <img src="picture/asain-home.jpg">
                <!-- random image -->
                <div class="caption center-align">
                    <h3>Home</h3>
                    <h5 class="text-lighten-3">Where the heart lives</h5>
                </div>
            </li>
            <li>
                <img src="picture/asleep.jpg">
                <!-- random image -->
                <div class="caption left-align">
                    <h3>Sleep</h3>
                    <h5 class="text-lighten-3">Through the night and until morning</h5>
                </div>
            </li>
            <li>
                <img src="picture/coffee.jpg">
                <!-- random image -->
                <div class="caption right-align">
                    <h3>Coffee</h3>
                    <h5 class="text-lighten-3">The taste of bitterness can brighten your day</h5>
                </div>
            </li>
            <li>
                <img src="picture/city.jpg">
                <!-- random image -->
                <div class="caption center-align">
                    <h3>The City</h3>
                    <h5 class="text-lighten-3">A career lies ahead waiting to be captured</h5>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col s6">
        <img class="photo" src="picture/dude+cup.jpg">
        <figcaption>One cup is just enough</figcaption>
    </div>
    <div class="col s6">
        <img class="photo" src="picture/daughter.jpg">
        <figcaption>A child is a blessing</figcaption>
    </div>
</div>
<div class="row">
    <div class="col s6">
        <img class="photo" src="picture/work-stuff.jpg">
        <figcaption>Camera, laptop, phone, and sunglasses...yep that's everything</figcaption>
    </div>
    <div class="col s6">
        <img class="photo" src="picture/woman.jpg">
        <figcaption>Sit down and relax</figcaption>
    </div>
</div>
<div class="row">
    <div class="col s6">
        <img class="photo" src="picture/baby.jpg">
        <figcaption>This is the beginning to a lifelong journey</figcaption>
    </div>
    <div class="col s6">
        <img class="photo" src="picture/home-broken.jpg">
        <figcaption>A house can be rebuilt but not a home</figcaption>
    </div>
</div>
<footer class="page-footer black">
    <div class="container">
        <p class="footer-p">PLAN YOUR ENDGAME</p>
        <form>
            <div class="row">
                <div class="input-field col s12">
                    <input id="email" type="email">
                    <label for="email">EMAIL</label>
                </div>
            </div>
        </form>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2016 THE ENDGAME
            <a class="grey-text text-lighten-4 right" href="#!">CREATORS</a>
        </div>
    </div>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.1/js/materialize.min.js"></script>
<script>
    $(document).ready(function () {
        $('.slider').slider({
            height: 600
        });
    });
</script>