<head>
    <title>The Endgame</title>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.1/css/materialize.min.css">
    <link rel="stylesheet" href="mission.css" />
    <link rel="stylesheet" href="endgame.css" />
    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC" rel="stylesheet">
</head>

<h1 id="mission">the INFO</h1>
<div class="line">
    <ul class="menu">
        <li><a href="index.html">HOME</a></li>
        <li><a href="mission.html">MISSION</a></li>
        <li><a href="info.html">INFO</a></li>
        <li><a href="contact.html">CONTACT</a></li>
    </ul>
</div>

<section class="container" id="table">
    <table class="highlight">
        <thead>
            <tr>
                <th>Plan</th>
                <th>Minimum Hours</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Insurance</td>
                <td>10 Hours</td>
                <td>$50.00</td>
            </tr>
            <tr>
                <td>Finances</td>
                <td>20 Hours</td>
                <td>$60.00</td>
            </tr>
            <tr>
                <td>Taxes</td>
                <td>30 Hours</td>
                <td>$55.00</td>
            </tr>
        </tbody>
    </table>
</section>




<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.1/js/materialize.min.js"></script>