#mission {
    font-family: font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 100px;
    text-align: center;
}

.menu {
    margin-top: 40px;
}

.statement {
    display: block;
    margin: 50px 40px 0px 150px;
    font-size: 20px;
}

.profile {
    width: 500px;
    height: 400px;
    margin: 40px 0px 0px 0px;
}

#matthew {
    width: 400px;
    height: 400px;
    float: left;
}

#contact {
    margin-bottom: 20px;
}

#joseph {
    width: 400px;
    height: 400px;
    float: right;
}