<head>
    <title>The Endgame</title>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.1/css/materialize.min.css">
    <link rel="stylesheet" href="mission.css" />
    <link rel="stylesheet" href="endgame.css" />
    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC" rel="stylesheet">
</head>

<h1 id="mission">the MISSION</h1>
<div class="line">
    <ul class="menu">
        <li><a href="index.html">HOME</a></li>
        <li><a href="mission.html">MISSION</a></li>
        <li><a href="info.html">INFO</a></li>
        <li><a href="contact.html">CONTACT</a></li>
    </ul>
</div>

<section>
    <p class="statement">We are an business advisory services brokers which pride ourselves on your<strong> livelihood.</strong></p>

    <p class="statement">Our mission is for you to be <strong>simply happy</strong> and we only wish for you to enjoy what you hold dear to you...nothing more.</p>

    <p class="statement">We want you to be <strong>secure now and for years to come</strong>. Guiding you through every step in your finances and business ventures.</p>
</section>




<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.1/js/materialize.min.js"></script>