.cred {
    font-family: font-family: 'Courier', cursive;
    font-size: 10px;
    color: gainsboro;
}

.customnav {
    background-color: black;
    padding-top: 12px;
    padding-bottom: 12px;
}

a:link,
a:visited {
    font-family: 'Courier', cursive;
    color: blueviolet;
    font-size: 20px;
    padding-left: 72px;
    padding-right: 72px;
    text-align: center;
}

a:hover {
    color: #f544ff;
}

body {
    background-color: black;
}

h1 {
    color: #ff00ff;
    padding-top: 5px;
}

#sectioncontainer {
    height: 100vh;
    background-image: url("images/lulu%20bubblegum%20header.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#sectioncontainer2 {
    height: 90vh;
    background-image: url("images/makin%20some%20sweet%20beats.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.divider {
    height: 100vh;
}

h2 {
    font-family: 'Oxygen', cursive;
    text-align: center;
    padding-bottom: 25px;
    padding-top: 30px;
    color: blueviolet;
}

p {
    text-align: center;
    font-family: 'Oxygen', cursive;
    color: blueviolet;
    font-size: 16px;
}

h3 {
    text-align: center;
    font-family: 'Homemade Apple', cursive;
    color: #ff00ff;
    padding-top: 30px;
}

.album {
    margin-top: 10px;
}

.center {
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.row {
    margin-top: 50px;
}

.container {
    margin-top: 120px;
    margin-bottom: 0px;
}