    body {
        background-color: #070707;
    }
    
    .customnav {
        border-bottom: 1px black solid;
        background-color: black;
        padding-top: 12px;
        padding-bottom: 12px;
        margin-bottom: 50px;
    }
    
    a:link,
    a:visited {
        font-family: 'Courier', cursive;
        color: blueviolet;
        font-size: 20px;
        padding-left: 72px;
        padding-right: 72px;
    }
    
    a:hover {
        color: #f544ff;
    }
    
    h1 {
        color: #ff00ff;
        padding-top: 5px;
    }
    /* THE DUO */
    /* Ode's section about herself */
    
    #ode {
        width: 300px;
        height: 500px;
        margin-top: -45px;
        float: left;
        transform: rotate(353deg);
    }
    
    .bio_title1 {
        color: #F3F2F2;
        font-size: 30px;
        margin-left: 20px;
        font-family: 'Homemade Apple', cursive;
    }
    
    .bio_ode {
        float: right;
    }
    
    #ode_form {
        margin-left: 370px;
        margin-top: 80px;
        color: #F3F2F2;
        font-family: 'Homemade Apple', cursive;
    }
    
    .info_answer1 {
        font-size: 15px;
    }
    /* Lulu's about page */
    
    #lulu {
        width: 300px;
        height: 500px;
        margin-top: 20px;
        float: right;
        transform: rotate(7deg);
    }
    
    .bio_lulu {
        float: left;
    }
    
    .bio_title2 {
        color: #F3F2F2;
        font-family: 'Caveat', cursive;
        font-size: 35px;
        margin-right: 230px;
        margin-top: 2px;
    }
    
    .bio_lulu {
        float: right;
    }
    
    #lulu_form {
        color: #F3F2F2;
        font-family: 'Caveat', cursive;
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }
    
    .info_answer2 {
        font-size: 25px;
    }
    
    .size {
        font-size: 25px;
    }
    /* exttra */
    
    .divider {
        height: 100vh;
    }
    
    .info_under {
        font-family: 'Oxygen', sans-serif;
    }
    
    ol {
        margin-right: 20px;
    }
    
    .row {
        margin-bottom: 100px;
    }
    
    .cent3 {
        padding-bottom: 10px;
        display: inline;
        padding: 30px;
    }
    
    .cred {
        font-family: font-family: 'Courier', cursive;
        font-size: 10px;
        color: gainsboro;
    }